# App Port
APP_PORT=3000

# JWT Secret 
JWT_SECRET="JWT_SECRET"

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
DATABASE_URL="Url from Neon Database"